#airport {
  background-attachment:scroll;
  background-clip:initial;
  background-color:#090A1B;
  background-image:url(http://www.trevobr.com/tanagi/images/airport_bkg.jpg);
  background-origin:initial;
  background-position:50% 0;
  background-repeat:no-repeat no-repeat;
  color:#090A1B;
}