body {
    max-height: 1960px;
    min-height: 1960px;
    overflow-x: hidden;
    width: 100%;
}
div.container {
    background: url("../images/background_airport1280x800_geo.jpg") no-repeat scroll 0 0 transparent;
    margin-left: auto;
    margin-right: auto;
    max-height: inherit;
    min-height: inherit;
    position: relative;
    width: 1280px;
}

h1 {
    color: #FFFFFF;
    font-family: "AcadNusx";
    font-size: 22pt;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 40px;
    text-indent: -999px;
    text-shadow: 2px 4px 2px #000000;
    text-transform: lowercase;
}
h2 {
    color: #212121;
 
}

ul {
    padding-left: 20px;
}
p {
    color: #FFFFFF;
    font-family: "AcadNusx";
    font-size: 1.4em;
    margin: 0 0 5px;
}
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
    width: 1008px;
}
ul#menu li {
    float: left;
    margin-left: 50px;
}


#headlinks_projects, #headlinks_projects_transparent {
    height: 294px;
    margin-bottom: 53px;
    margin-right: 11px;
    position: relative;
    width: 69px;
}
#headlinks_projects {
    background: url("../images/sprite_root1280x800.png") no-repeat scroll 0 0 transparent;
    padding-top: 30px;
    z-index: 9999;
}
#rightpart {
    height: 390px;
    padding-right: 0;
    width: 25%;
}

/* dock navigation*/

.coda-nav-left a, .coda-nav-right a {
    display: block;
    right: 75px;
    text-align: center;
    text-decoration: none;
    top: 256px;
}
.coda-nav-left a {
    display: block;
    float: left;
    top: 202px;
    z-index: -10;
}
#social a, #social_transparent a {
    bottom: 4px;
    height: 30px;
    left: 5px;
    position: relative;
    width: 30px;
}
/* */
#details {
    position: relative;
}
#building_details {
    height: 759px;
}
#text_container {
    font-size: 6pt;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    top: 14px;
    width: 60%;
}

/*top text - left and description*/

#top_text {
    color: black;
    height: 224px;
    margin-bottom: 66px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 30px;
}
#left_corner {
    float: left;
    left: 12px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    text-transform: uppercase;
    top: 24px;
    width: 336px;
}
#description {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: table;
    float: right;
    font-family: "AcadNusx";
    font-size: 8pt;
    margin-bottom: 30px;
    position: relative;
    right: 70px;
    text-align: left;
    top: 30px;
    width: 44%;
}
p.details_data {
    font-size: 9pt;
}
div#text_container p {
    color: #282828;
    font-family: "AcadNusx";
    font-size: 1.7em;
    margin: 0 0 5px;
}

#coda-slider-2, #coda-slider-2 .panel {
    width: 1228px;
}
/* footer */

#footer_airport {
    color: #FFFFFF;
    height: 45px;
    padding-top: 5px;
    position: relative;
    top: -7px;
}
.left_footer {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    float: left;
    font-size: 10px;
    position: relative;
    top: 10px;
    width: 233px;
}

.left_footer {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    float: left;
    font-size: 10px;
    position: relative;
    top: 12px;
    width: 233px;
}
a.next_button {
    background: url("../images/sprite_mesa.png") repeat scroll -1160px 10px transparent;
    color: transparent;
    float: right;
    padding: 33px 20px;
    position: relative;
    top: -65px;
}
.block {
    color: transparent;
    float: right;
    height: 45px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    top: 10px;
    width: 136px;
}
.panel-wrapper img {
    height: 540px;
    position: relative;
    top: 1px;
    width: 1112px;
}
.slider {
    background: url("../images/wishmodus_logo1280.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    float: left;
    height: 45px;
    left: 110px;
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 109px;
}
#footer_absolute {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    color: #FFFFFF;
    height: 55px;
    position: absolute;
    width: 97%;
}