
.offices {
    background: url("../images/background_offices.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;
}
.dwelling{
   	background: url(../images/background_dwelling_1024x768.jpg) no-repeat scroll;
    color: #FFFFFF;
    min-height: 768px;
}
.hotel {
    background: url("../images/background_category_hotel_1024x768.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;
}  
.industrial{
    background: url("../images/background_industrial.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;    
}    
.rehabilitation{
    background: url("../images/background_rehabilitation.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;    
}
.individualdwelling{
    background: url("../images/background_individualdwelling.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;    
}
.entertainment{
    background: url("../images/background_entertainment.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;        
        
}
h2 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 11pt;
    font-weight: bold;
}

a {color: #00c969; text-transform: lowercase;}
p.start,p.complete{    color: #FFFFFF;
    display: inline;
    font-size: 9.5pt;
    margin-right: 30px;
}

hr{color: transparent;background: transparent;}
.buy {
    background: url("../images/sprite_root.png") repeat scroll -10px -285px transparent;
    clear: both;
    color: transparent;
    float: right;
    font-size: 8pt;
    padding-bottom: 5px;
    padding-top: 13px;
    position: relative;
    text-align: right;
    width: 104px;
}
#category_info{width: 30%;float: left;}
#photos{}
ul.list_photos li{ display: inline;
    float: left;
    height: 173px;}
.info_box{border-left: solid 1px #fff;padding:15px;}
.dashed_box{  border: 1px dashed #FFFFFF;
    display: table;padding: 30px;}
.left_footer{
	top:7px;
}
  
#footer {
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 40px;
    padding-top: 11px;
    position: relative;
    vertical-align: bottom;
    width: 100%;
}

.left_footer_internal {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 102px;
    position: relative;
    top: 0;
    width: 233px;
}
#row2 {
    margin-bottom: -23px;
    margin-top: 172px;
    position: relative;
}
#row3 {
    margin-bottom: 24px;
}