.container{position: relative;margin-left:auto;margin-right:auto;max-width: 1280px;max-height:768px;min-height: 768px; }
img {
    margin-right: 20px;
    width: 100px;
}
.offices {
    background: url("../images/background_category_offices_1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;
}
.dwelling{
   	background: url(../images/background_dwelling_1024x768.jpg) no-repeat scroll;
    color: #FFFFFF;
    min-height: 768px;
}
.current_dwelling{
   	background: url(../images/background_category_current_dwelling1024x768.jpg) no-repeat scroll;
    color: #FFFFFF;
    min-height: 768px;
}

.hotel {
    background: url("../images/background_category_hotel_1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;
}  
.industrial{
    background: url("../images/background_industrial.jpg") no-repeat scroll 100% 50% transparent;
    color: #FFFFFF;
    min-height: 768px;    
}    
.rehabilitation{
    background: url("../images/background_category_rehabilitation_1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;    
}
.current_rehabilitation{
    background: url("../images/background_category_current_rehabilitation1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;    
}
.individual_dwelling{
    background: url("../images/background_category_individual_dwelling1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;    
}
.current_individualdwelling{
    background: url("../images/background_category_current_individual_dwelling1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;    
}
.entertainment{
    background: url("../images/background_category_entertainment_1024x768.jpg") no-repeat scroll transparent;
    color: #FFFFFF;
    min-height: 768px;        
        
}
h2 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 11pt;
    font-weight: bold;
}

a {color: #00c969; text-transform: lowercase;}
p.start,p.complete{    color: #FFFFFF;
    display: inline;
    font-size: 9.5pt;
    margin-right: 30px;
}

hr{color: transparent;background: transparent;}
.buy {
    background: url("../images/sprite_root.png") repeat scroll -10px -285px transparent;
    clear: both;
    color: transparent;
    float: right;
    font-size: 8pt;
    padding-bottom: 5px;
    padding-top: 13px;
    position: relative;
    text-align: right;
    width: 104px;
}
#category_info{width: 30%;float: left;}
#photos{}
ul.list_photos li{ display: inline;
    float: left;
    height: 173px;}
.info_box{border-left: solid 1px #fff;padding:15px;}
.dashed_box{  border: 1px dashed #FFFFFF;
    display: table;padding: 30px;}
.left_footer{
	top:7px;
}
/*PROJECTS LINES*/

div.building_information {
    background: none repeat scroll 0 0 transparent;
    border-left: 2px solid #FFFFFF;
    float: left;
    font-size: 6pt;
    height: 137px;
    padding-left: 15px;
    text-align: left;
    width: 150px;
}
div.gallery_category {
    float: right;
    padding-top: 15px;
    position: relative;
    width: 60%;
}

div.category_line {
    height: 153px;
    margin-bottom: 154px;
    margin-left: 82px;
    margin-top: 40px;
    padding-left: 0;
    padding-top: 0;
    width: 82%;
}
#rightpart_projects {
    height: 571px;
    position: relative;
    width: 15%;
    z-index: 9999;
}

/*FOOTER*/



.left_footer_internal {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 102px;
    position: relative;
    top: 0;
    width: 233px;
}
#row2 {
    margin-bottom: -43px;
    margin-top: 137px;
    position: relative;
}
#row3 {
    margin-bottom: 0;
}
