html {
    background-clip: border-box;
    background-color: #FFFFFF;
    background-origin: padding-box;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    
}
.container {
    background-image: url("../images/bck_category_detail_1280x800.jpg");
    margin-left: auto;
    margin-right: auto;
    max-height: 935px;
    min-height: 935px;
    position: relative;
    width: 1280px;
}			
ul {
    padding-left: 1.9em;
}
#headlinks_projects {
    background: none;
    z-index: 9999;
}
#anagiling, #anagilogo {
    background-image: none;
    float: right;
    font-size: 7pt;
    height: 45px;
    line-height: 89px;
    margin-bottom: 59px;
    position: relative;
    text-align: right;
    text-shadow: 1px 1px #000000;
    vertical-align: middle;
    width: 104px;
}
#social, #social_transparent {
    clear: both;
    display: block;
    float: right;
    height: 139px;
    margin: 0;
    padding-right: 5px;
    text-decoration: none;
    z-index: 9999;
}
.buy {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    color: transparent;
    float: right;
    font-size: 8pt;
    margin-top: 28px;
    padding-bottom: 5px;
    padding-top: 18px;
    position: relative;
    text-align: right;
    width: 118px;
    z-index: 99999;
}
.block {
    color: transparent;
    float: right;
    height: 65px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    top: 4px;
    width: 109px;
}
#footer {
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    top: 100px;
    width: 100%;
}
.nav_container {
    bottom: 318px;
    position: relative;
}
#social_transparent {
    background-image: none;
    background-position: -379px 6px;
    left: 0;
    position: relative;
}

p {
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    margin: 0 0 20px;
    width: 500px;
}
#middlecontent_projects {
    font-size: 7pt;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    top: 10px;
    width: 75%;
}