html {
    background-attachment: scroll;
    background-clip: border-box;
    
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 768px;
    min-height: 768px;
}
body{max-height: inherit;max-width: 1280px;overflow-x: hidden;}


div.container {
	background: url("../images/background.png")repeat scroll 0 0 #181818;
    margin-left: auto;
    margin-right: auto;
    max-height: 768px;
    min-height: 768px;
    position: relative;
    width: 1024px;
}



.clients {
 
    
  	min-height:768px;
}
h1#clients {
    background: url("../images/clientes_logo.png") no-repeat scroll 0 0 transparent;
    text-indent: -9999px;
}


/* HTMLS TAGS */

a.link_client {
    color: #454545;
    font-size: 7pt;
    text-align: center;
    width: 108px;
}
p.link_client{    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 20px;
    text-align: center;}

figure {
    background: none repeat scroll 0 0 transparent;
    height: 185px;
    margin: 0;
    padding: 0;
    width: 125px;
}
figcaption{width: 125px;}


#rightpart_projects {
    position: relative;
    width: 15%;
    z-index: 9999;
    height: 400px;
}


/* MIDDLE */


ul.list_client {
    display: table;
    height: 160px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.list_client li{ display: table;
    float: left;}


#middlecontent_projects {
    font-size: 7pt;
    margin-bottom: 50px;
    position: relative;
    text-align: left;
    top: 10px;
    width: 75%;
}

/* FOOTER */


#footer_clients {
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 40px;
    position: relative;
    top: 150px;
    width: 100%;
}
.left_footer {
  background: none repeat scroll 0 0 transparent;
  float: left;
  font-size: 10px;
  position: relative;
  top: 6px;
  width: 233px;
}