html {
    background-clip: border-box;
    background-color: #FFFFFF;
    background-origin: padding-box;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    
}
.container {
    background-image: url("../images/background_company.png");
    margin-left: auto;
    margin-right: auto;
    max-height: 768px;
    min-height: 768px;
    position: relative;
    width: 1024px;
}
.block {
    color: transparent;
    float: right;
    height: 27px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    top: 4px;
    width: 109px;
}
#footer {
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    top: 100px;
    width: 100%;
}

p {
    font-family: "Trebuchet MS";
    font-size: 1.2em;
    margin: 0 0 20px;
    width: 500px;
}
#middlecontent_projects {
    font-size: 7pt;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    top: 10px;
    width: 75%;
}