html{background-attachment: fixed;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("../images/background_company.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 1008px;
    }
#footer {
    background: url("../images/sprite_root.png") no-repeat scroll 0 -391px #555554;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    width: 100%;
}