html{
    width: 100%;
    }
body{max-width: 100%;overflow-x: hidden;}
.container {
    background-image: url("../images/background_company1280x800.png");
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
    min-height: 800px;
    position: relative;
    width: 1280px;
    max-width: 1280px;
    overflow-x: hidden;
}
#navlist li a {
    background: url("../images/sprite_company1280x800.png") no-repeat scroll 0 -57px transparent;
    color: transparent;
    line-height: 125px;
    padding: 55px 55px 54px 11px;
    text-indent: -9999px;
    width: 125px;
}
#anagiling, #anagilogo {
    background-image: url("../images/sprite_company1280x800.png");
    background-position: -516px -399px;
    color: #FFFFFF;
    float: right;
    font-size: 7pt;
    height: 71px;
    line-height: 91px;
    position: relative;
    text-align: right;
    text-shadow: 1px 1px #000000;
    vertical-align: middle;
    width: 133px;
}
#anagilogo {
    background-position: -164px -462px;
    height: 63px;
    width: 134px;
}

#footer {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    margin-top: 609px;
    position: relative;
    width: 99%;
}	
#navlist li a#tech_info {
    background-position: -162px -57px;
    padding-left: 19px;
}
#navlist li a#lugo {
    background-position: -313px -57px;
    padding-left: 27px;
}
.block {
    color: transparent;
    float: right;
    height: 45px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    top: 4px;
    width: 136px;
}