html#contact{background: url(../images/background.png) no-repeat scroll 0 0;}
h1#contact {
    background: url("../images/contato_logo.png") no-repeat scroll 0 0 transparent;
    text-indent: -9999px;
}

textarea{ height: 130px;
    width: 300px;}
#footer {
  background: url("../images/footer.png") repeat-x scroll 0 10px transparent;
  bottom: 0;
  clear: left;
  color: #FFFFFF;
  height: 40px;
  padding-top: 11px;
  position: relative;
  top: 23px;
  vertical-align: middle;
  width: 100%;
}