html#contact{min-height: 768px;width:100%;}
body{overflow-x:hidden;}
.container{
	background: url(../images/background.png) no-repeat scroll 0 0;
	margin-left: auto;
    margin-right: auto;
    max-height: 768px;
    min-height: 768px;
    position: relative;
    width: 1024px;
    overflow-x: hidden;
}
h1#contact {
    background: url("../images/contato_logo.png") no-repeat scroll 0 0 transparent;
    text-indent: -9999px;
}

textarea{ height: 130px;
    width: 300px;}
#footer {
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 40px;
    padding-top: 11px;
    position: relative;
    top: 217px;
    vertical-align: middle;
    width: 100%;
}