html{background-attachment: fixed;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: url("../images/background_index.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 1008px;
    }

a#piazza_dock,a#batumi_dock,a#mcdonalds_dock{float: left;position: relative;text-indent: -9999px;height:426px;}
a#piazza_dock{background: url(../images/piazza_ico.png) 0 0 no-repeat scroll;width: 261px;}
a#piazza_dock:hover{background: url(../images/piazza_ico_on.png) 0 0 no-repeat scroll;width: 261px;}
a#batumi_dock{background: url(../images/batumi_ico.png) 0 0 no-repeat scroll;width: 365px;}
a#batumi_dock:hover{background: url(../images/batumi_ico_on.png) 0 0 no-repeat scroll;width: 365px;}
a#mcdonalds_dock{background: url(../images/mc_donalds_ico.png) 0 0 no-repeat scroll;width: 365px;}
a#mcdonalds_dock:hover{background: url(../images/mc_donalds_ico_on.png) 0 0 no-repeat scroll;width: 365px;}


#dock ul{
	 background: none repeat scroll 0 0;
    height: 100px;
    margin-left: auto;
    margin-right: auto;



}
#table_container ul li{}

a.current_lang{color: #00c969;}

#space{width: 50%;}

#rightpart {
  width: 25%;
  margin-bottom: -20px;
}

/* DOCK STYLE */

#left_table,#middle_table,#right_table{height:437px;}

#left_table{  background: url("../images/left_table.png") no-repeat scroll right bottom transparent;
    display: table-cell;
    float: left;
    height: 393px;
    width: 180px;}


#middle_table{     background: url("../images/table.png") repeat-x scroll center bottom transparent;
    display: table-cell;
    height: 400px;
    vertical-align: bottom;
    width: 72%;}
    
#right_table{  background: url("../images/right_table.png") no-repeat scroll left bottom transparent;
    display: table-cell;
    width: 180px;}
    
#dock_container{ bottom: 72px;
    display: inline-block;
    height: 400px;
    position: absolute;
    width: 100%;}
    
    
.coda-slider-wrapper {
    background: url("../images/dock_bkg.png") no-repeat scroll center bottom transparent;
    bottom: 50px;
    clear: both;
    margin-bottom: -7px;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
}

.left_footer {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 10px;
    position: relative;
    top: 0;
    width: 233px;
}