html {
    background-image: url("../images/background_index_1280.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    min-height: 800px;
}

a#home,a#home:hover {
    background: url("../images/sprite_root1280x800.png") no-repeat scroll -88px -28px transparent;
    text-indent: -9999px;
}

.coda-slider-wrapper {
    bottom: -106px;
    clear: both;
    margin-bottom: -7px;
    margin-left: 0;
    margin-right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: 105px;
    width: auto;
    z-index: 0;
}

#footer {
    background: none repeat scroll 0 0 transparent;
}