html {
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    max-height: 800px;
    min-height: 800px;
    overflow-x: hidden;
    font-family: "AcadNusx";
}
div.container {
	background-image: url("../images/background_index_1280_geo.png");
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
    min-height: 800px;
    position: relative;
    width: 1280px;
}
#rightpart {
    margin-bottom: -190px;
    position: relative;
    width: 25%;
    z-index: 1;
}
a#home, a#home:hover {
    background: url("../images/sprite_root1280x800_geo.png") no-repeat scroll -343px -28px transparent;
    text-indent: -9999px;
}

.coda-slider-wrapper {
    bottom: -106px;
    clear: both;
    margin-bottom: -7px;
    margin-left: 0;
    margin-right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: 105px;
    width: auto;
    z-index: 0;
}

#footer {
    background: none repeat scroll 0 0 transparent;
    margin-top: 35px;
    position: relative;
}
.left_footer span{ font-family: "AcadNusx";}
.block {
    color: transparent;
    float: right;
    height: 34px;
    margin-right: 24px;
    overflow: hidden;
    position: relative;
    top: 7px;
    width: 134px;
}