html {
    background-image: url("../images/background_index_1280.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    min-height: 800px;
}

a#home,a#home:hover {
    background: url("../images/sprite_root1280x800.png") no-repeat scroll -88px -28px transparent;
    text-indent: -9999px;
}

.coda-slider-wrapper {
    bottom: -106px;
    clear: both;
    margin-bottom: -7px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 0;
}