
html {
    background: none repeat scroll 0 0 transparent;
    min-height: 2009px;
    min-width: 1008px;
}
.container {
    background: url("../images/bck_magnolia_1600x900.jpg") no-repeat scroll 0 0 transparent;
    max-height: 2410px;
    min-height: 2410px;
    overflow-y: hidden;
}
h1 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 22pt;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 40px;
    text-indent: -999px;
    text-shadow: 2px 4px 2px #000000;
}
h2 {
    color: #212121;
    text-align: left;
}

ul {
    padding-left: 20px;
}
p {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 5px;
}
/* CUSTOM SLIDER CSS TO MAGNOLIA*/
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
    width: 1360px;
}
.coda-slider-wrapper.arrows .coda-slider {
    margin: 119px -176px 0 127px;
}

ul#menu li {
    float: left;
    margin-left: 50px;
}
ul#menu {
    bottom: 11px;
    height: 102px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

#headlinks_projects, #headlinks_projects_transparent {
    height: 303px;
    margin-bottom: 60px;
    margin-right: 11px;
    position: relative;
    width: 69px;
}
/* dock navigation*/

.coda-nav-left a, .coda-nav-right a {
    display: block;
    right: 100px;
    text-align: center;
    text-decoration: none;
    top: 248px;
}
.coda-nav-left a {
    display: block;
    float: left;
    top: 202px;
    z-index: -10;
}
#coda-slider-2, #coda-slider-2 .panel {
    margin-bottom: 59px;
    margin-top: 26px;
    padding-bottom: 55px;
    width: 1434px;
}

/* */
#details {
    position: relative;
}
#building_details {
    height: 849px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
#building_text{width:70%;position: relative;margin-right: AUTO;margin-left: auto;}
#building_text {
    margin-bottom: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    width: 37%;
}

/*top text - left and description*/

#top_text {
    color: black;
    height: 266px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 30px;
}
#left_corner {
    float: left;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
#description {
    color: #FFFFFF;
    font-size: 11pt;
    margin-left: 820px;
    margin-top: 50px;
    position: relative;
    text-align: left;
}
div#text_container p {
    color: #282828;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 5px;
    text-align: left;
}


#social a, #social_transparent a {
 
    left: 15px;
 }
#text_container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
}
/* footer */

#footer_absolute {

    height: 55px;
  
}
