html{min-width: 100%;min-height: 1593px;max-height: 1593px;}
body{max-height: inherit;width: 100%;overflow-x: hidden;min-height: inherit;}
div.container {
    background: url("../images/background_mc.jpg") no-repeat scroll 0 0 transparent;
    margin-left: auto;
    margin-right: auto;
    max-height: inherit;
    min-height: inherit;
    position: relative;
    width: 1024px;
}



h1 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 22pt;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 40px;
    text-shadow: 2px 4px 2px #000000;
}
h2 {
    color: #212121;
 
}

ul {
    padding-left: 20px;
}
p {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 5px;
}
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
    width: 750px;
}
ul#menu li {
    float: left;
    margin-left: 50px;
}


#headlinks_projects, #headlinks_projects_transparent {
    height: 294px;
    margin-bottom: 60px;
    margin-right: 11px;
    position: relative;
    width: 69px;
}
#headlinks_projects {
    background: url("../images/sprite_root.png") no-repeat scroll -318px -7px transparent;
    padding-top: 10px;
    z-index: 9999;
}
/* dock navigation*/

.coda-nav-left a, .coda-nav-right a {
    display: block;
    text-align: center;
    text-decoration: none;
    top: 182px;
}
.coda-nav-left a {
    display: block;
    float: left;
    top: 202px;
    z-index: -10;
}

/* */
#details {
    position: relative;
}
#building_details {
    height: 618px;
}
#text_container {
    font-size: 6pt;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    top: 29px;
    width: 60%;
}

/*top text - left and description*/

#top_text {
    color: black;
    height: 135px;
    margin-bottom: 66px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 30px;
}
#left_corner {
    float: left;
    left: 12px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    text-transform: uppercase;
    top: 24px;
    width: 336px;
}
#description {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: table;
    float: right;
    font-size: 7pt;
    margin-bottom: 30px;
    position: relative;
    right: 70px;
    text-align: left;
    top: 30px;
    width: 40%;
}
div#text_container p{

    color: #282828;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 5px;


}


#social a, #social_transparent a {
    height: 22px;
    left: 15px;
    position: relative;
    width: 22px;
}

/* footer */

#footer_mcd {
    height: 45px;
    color: #fff;
}

div#building_text {
  font-size: 6pt;
  left: 340px;
  margin-bottom: -73px;
  position: relative;
  text-align: left;
  top: -65px;
  width: 550px;
}
.left_footer {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    float: left;
    font-size: 10px;
    position: relative;
    top: 8px;
    width: 233px;
}