html{min-width: 1600px;}

body {
    max-height: 2359px;
    overflow-x: hidden;
}
.container {
    background: url("../images/background_mc1600x900.jpg") no-repeat scroll 0 0 transparent;
    min-height: 2359px;
}
h1 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 22pt;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 40px;
    text-shadow: 2px 4px 2px #000000;
}
h2 {
    color: #212121;
 
}
div#building_text p {
    font-size: 11pt;
    margin-bottom: 85px;
    margin-left: 200px;
    margin-top: 119px;
    position: relative;
    width: 620px;
}
ul {
    padding-left: 20px;
}
p {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 19pt;
    margin: 0 0 5px;
}

ul#menu li {
    float: left;
    margin-left: 104px;
}

#headlinks_projects {
    background: url("../images/sprite_root1600x900.png") no-repeat scroll -983px -32px transparent;
    height: 450px;
    padding-top: 39px;
    width: 84px;
    z-index: 9999;
}
	
/* CUSTOM SLIDER FOR MCDONALDS*/
.coda-nav-left a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: -1;
}
.coda-slider-wrapper {
    padding: 40px 0;
}
#coda-slider-1{height: 322px;}
.panel-wrapper img{margin-bottom:100px;}

/* */
#details {
    position: relative;
}
#building_details {
    height: 1101px;
}
#text_container {
    font-size: 6pt;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    top: 29px;
    width: 60%;
}
a.next_button {
    background: url("../images/sprite_mesa.png") repeat scroll -1160px 10px transparent;
    color: transparent;
    float: right;
    padding: 33px 20px;
    position: relative;
    top: -65px;
}
/*top text - left and description*/

#top_text {
    color: black;
    height: 135px;
    margin-bottom: 66px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 30px;
}
#left_corner {
    float: left;
    left: 12px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    text-transform: uppercase;
    top: 24px;
    width: 336px;
}
#description {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: table;
    float: right;
    font-size: 12pt;
    margin-bottom: 30px;
    position: relative;
    right: 70px;
    text-align: left;
    top: 30px;
    width: 45%;
}
div#text_container p{

    color: #282828;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 5px;


}




/* footer */

#footer_absolute {
    bottom: 25px;
}

div#building_text {
    font-size: 10pt;
    left: 340px;
    margin-bottom: -73px;
    position: relative;
    text-align: left;
    top: -24px;
    width: 763px;
}
.left_footer {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    float: left;
    font-size: 10px;
    position: relative;
    top: 8px;
    width: 233px;
}