#footer{
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 40px;
    padding-top: 11px;
    position: relative;
    top: 95px;
    vertical-align: middle;
    width: 100%;
}
.left_footer {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 10px;
    position: relative;
    top: 5px;
    width: 233px;
}

.block {
    bottom: 3px;
    color: transparent;
    float: right;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    top: 8px;
    width: 109px;
}