html {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 768px;
    min-height: 768px;
    
}
body{max-height: inherit;overflow-x: hidden;max-width:1280px;
}
div.container {
    background: url("../images/our_project_bkg.png") repeat scroll 0 0 #181818;
    margin-left: auto;
    margin-right: auto;
    max-height: 768px;
    min-height: 768px;
    position: relative;
    width: 1024px;
}
#footer{
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 40px;
    padding-top: 11px;
    position: relative;
    top: 95px;
    vertical-align: middle;
    width: 100%;
}
.left_footer {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 10px;
    position: relative;
    top: 5px;
    width: 233px;
}

