p {
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 10px 20px;
}
.container {
    background: url("../images/background_ourproject_1600x900.jpg") no-repeat scroll 0 0 #181818;
    color: #FFFFFF;
    max-height: 900px;
    min-height: 900px;
}
#footer {
    background: url("../images/sprite_root1280x800.png") no-repeat scroll 0 -391px transparent;
    bottom: -57px;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    width: 100%;
}
