#footer_projects {
    background: url("../images/sprite_project.png") repeat-x scroll 0 -300px transparent;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 40px;
    padding-top: 11px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.left_footer {
    background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 10px;
    position: relative;
    top: 5px;
    width: 233px;
}

.block {
    bottom: 3px;
    color: transparent;
    float: right;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 109px;
}