html{width: 100%;background:black;}
body{width: 100%;overflow-x: hidden;}

.container {
    background: url("../images/background_piazza1280x800_geo.png") no-repeat scroll 0 0 transparent;
    min-height: 2009px;
    min-width: 1280px;
    position: relative;
    width: 1280px;
}
h1 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 22pt;
    line-height: 1;
    margin-bottom: 0;
    margin-left: 40px;
    text-indent: -999px;
    text-shadow: 2px 4px 2px #000000;
}
h2 {
    color: #212121;
    font-family: "Trebuchet Ms";
}

ul {
    padding-left: 20px;
}
p {
    color: #FFFFFF;
    font-family: "AcadNusx";
    font-size: 1.7em;
    margin: 0 0 5px;
}

.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
    width: 1000px;
}
ul#menu li {
    float: left;
    margin-left: 50px;
}
ul#menu {
    bottom: 11px;
    height: 102px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

#headlinks_projects, #headlinks_projects_transparent {
    height: 254px;
    margin-bottom: 60px;
    margin-right: 11px;
    padding-top: 29px;
    position: relative;
    width: 69px;
}
/* dock navigation*/

.coda-nav-left a, .coda-nav-right a {
    display: block;
    right: 100px;
    text-align: center;
    text-decoration: none;
    top: 248px;
}
.coda-nav-left a {
    display: block;
    float: left;
    top: 202px;
    z-index: -10;
}

/* */
#details {
    position: relative;
}
#building_details {
    height: 761px;
}

#text_container {
    font-size: 6pt;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    top: 590px;
    width: 60%;
}

/*top text - left and description*/

#top_text {
    color: black;
    height: 337px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 30px;
}
#left_corner {
    float: left;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
#description {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: table;
    float: right;
    font-family: "AcadNusx";
    font-size: 9pt;
    height: 120px;
    margin-bottom: 30px;
    position: relative;
    right: 70px;
    text-align: left;
    top: 11px;
    width: 44%;
}

div#text_container p{

    color: #282828;
    font-family: "Trebuchet MS";
    font-size: 1.4em;
    margin: 0 0 5px;


}


#social a, #social_transparent a {
    height: 27px;
    left: 15px;
    position: relative;
    width: 29px;
}


/* footer */

#footer_airport {
    color: #FFFFFF;
    height: 45px;
    padding-top: 657px;
}
.block {
    color: transparent;
    float: right;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    top: 34px;
    width: 134px;
}
.left_footer {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    float: left;
    font-size: 10px;
    position: relative;
    top: 35px;
    width: 233px;
}
#footer_absolute {
    background: none repeat scroll 0 0 transparent;
    bottom: 26px;
    color: #FFFFFF;
    height: 55px;
    position: absolute;
    width: 1269px;
}