h1,h2{color: #FFFFFF;
    text-shadow: none;
    text-transform: uppercase;}
h2{clear: both;}
p{float: left;
    width: 50%;}


#piazza{   background: url("../images/piazza_bkg.png") no-repeat scroll center top #090a1b;
    color: #090A1B; }



#headlinks{
    float: left;
    position: relative;
}
#rightpart{float: right;}
#headlinks_piazza{color: black;width: 25%;background: url("../images/panel.png") no-repeat scroll 0 0 transparent;
    height: 362px;
    padding-top: 50px;
    position: relative;}
#dock{  text-align: center;
    width: 100%;
    z-index: 90;}
	#dock img{  margin: 0;
    padding: 0;
    position: relative;
    right: 0px;
    top: 310px;}
#dock_bottom{  background: none repeat scroll 0 0 #060A19;
    height: 37px;
    margin-top: -42px;
    position: relative;
    width: 100%;
    z-index: 0;}
#details{background: #090a1b;position: relative;color: #fff;}






/* MIDDLE CONTENT*/

#middlecontent_piazza{width: 75%;}
#container_top{ background: none repeat scroll 0 0 #1D1D1B;
    height: 193px;
    margin-left: auto;
    padding-bottom: 2px;
    padding-top: 20px;
    position: relative;
    width: 100%;
    
    }
#top_text{background: none repeat scroll 0 0 #434340;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 80%;}
#left_corner{float: left;
    width: 38%;}
#container_details{ 
	background: url("../images/container_details_bkg.png") repeat-x scroll 0 0 transparent;
    height: 1095px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    position: relative;
    width: 80%;
    }
#building_details{ background: url("../images/pazza_building.png") no-repeat scroll right center transparent;
    height: 1002px;
    width: 100%;}

#description{   background: none repeat scroll 0 0 transparent;
    display: table;
    float: right;
    margin-bottom: 30px;
    position: relative;
    width: 62%;
    left:125px;
    }
    #description p{float: none;width: 50%;}

#thumb1,#thumb2,#thumb3{width: 50%;clear:both;}
	#thumb1{  position: relative;
    top: 90px;
}
    #thumb2{   position: relative;
    top: 145px;}
    #thumb3{     position: relative;
    top: 310px;}
#thumb1 img,#thumb2 img {}
#thumb3 img{ float: left;
    margin-right: 20px;
    position: relative;}


/* FOOTER */

#footer_piazza{
	background: url("../images/footer_piazza.png") no-repeat scroll center center transparent;
    clear: left;
    color: #FFFFFF;
    height: 55px;
    padding-top: 11px;
    position: relative;
    top: 40px;
    vertical-align: middle;
    width: 100%;}