/* HTML TAGS */


body{background: url("../images/anagi_logo_tapume.png") no-repeat fixed center;}

p{font-size: 1.4em;
    margin: 0 0 20px;font-family:"Trebuchet MS";}
p.photo {
    color: #444444;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a{  color: #FFFFFF;
    text-decoration: none;text-transform:uppercase;margin-right: 3px;margin-left: 3px;font-size: 10pt;font-family: Arial;}
	a:focus,a:hover{color: #00c969;}

}
hr{text-indent: -9999px;}
hr.team {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    clear: both;
    color: transparent;
    float: none;
    height: 0;
    margin: 0;
    width: 100%;
}
ul{padding-left: 2.5em;}

li a{height: 50px;display: block;}

h1{
	color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 6em;
    line-height: 1;
    text-shadow: 2px 4px 2px #000000;
    text-weight: 9999;
    margin-bottom: 10px;
}
h1#anagi_team{background: url(../images/anagi_team.png) no-repeat;text-indent: -9999px;}
h1#office{background: url(../images/offices.png) no-repeat;text-indent: -9999px;}
h3 {
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 24pt;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 50%;
}
h5{margin:0;padding: 0;}


/* GENERAL */

#rightpart,#headlinks,#middlecontent,#headlinks_transparent{position: relative;float: left;}


	/* Firefox Dotted Outline Fix */
	a:active { 
		outline: none; 
	}
	
	/* Firefox Dotted Outline Fix */
	a:focus { 
		-moz-outline-style: none; 
	}
	
	/* Menu Body */
	ul#menu {
		width:80%;
		height:102px;
		background:url(bg.png) repeat-x;
		list-style:none;
		margin:0;
		padding:0;
		padding-top:20px;
		padding-left:20%;
	}
	
	/* Float LI Elements - horizontal display */
	ul#menu li {
		float:left;
	}
	
	/* Link - common attributes */
	ul#menu li a {
		background:url(images/piazza_ico_js.png) no-repeat scroll top left;
		display:block;
		height:426px;
		position:relative;
	}
	
	/* Specify width and background position attributes specifically for the class: "home" */
	ul#menu li a.home {
		width:261px;
	}
	
	/* Specify width and background position attributes specifically for the class: "batumi" */
	ul#menu li a.batumi {
		width:365px;
		background-position:-566px 0px;
	}
	
	/* Span (on hover) - common attributes */
	ul#menu li a span {
		background:url(images/piazza_ico_js.png) no-repeat scroll;
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index:100;
	}
	
	/* Span (on hover) - display pointer */
	ul#menu li a span:hover {
		cursor:pointer;
	}
	
	/* Shift background position on hover for the class: "home" */
	ul#menu li a.home span {
		background-position:-278px 0px;
	}
	
	/* Shift background position on hover for the class: "batumi" */
	ul#menu li a.batumi span {
		 background-position: -940px 0;
    	 
	}
	
	
	/* Shift background position on hover for the class: "portfolio" */
	ul#menu li a.portfolio span {
		background-position:-159px 0px;
	}

     
 div.description_container{
 	margin-top: 40px;
    position: relative;
    text-align: center;
    }



/* HEADER */

#topline{background-image: url("../images/topline.png");width: 100%;height: 39px;}

/*HEAD LINKS*/

#headlinks_projects{width: 10%;}
#headlinks,#headlinks_transparent{
	color: black;width: 25%;
    height: 362px;
    padding-top: 50px;
    position: relative;}
#headlinks{background: url("../images/panel.png") no-repeat scroll 0 0 transparent;}

	#headlinks a{color: #000;}
 	a.home{ background: url("../images/bwicons_home.png") no-repeat scroll 0 0 transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px;}
    a.home:hover{background: url("../images/bwicons_home.png") no-repeat scroll -276px 0 transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px}
    a.company{ background: url("../images/bwicons_home.png") no-repeat scroll 0 -48px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px;}
    a.projects{ background: url("../images/bwicons_home.png") no-repeat scroll 0 -98px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px}
    a.products{ background: url("../images/bwicons_home.png") no-repeat scroll 0 -150px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px}
    a.clients{ background: url("../images/bwicons_home.png") no-repeat scroll 0 -202px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px}
  	a.contact{ background: url("../images/bwicons_home.png") no-repeat scroll 0 -258px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px}
   	a.projects_over{ background: url("../images/bwicons_home.png") no-repeat scroll -276px -98px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px;}
  	a.company_over{  background: url("../images/bwicons_home.png") no-repeat scroll -276px -48px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 280px;}

 	
 	
    a.company:hover{ background: url("../images/bwicons_home.png") no-repeat scroll -276px -48px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 293px;}
    a.projects:hover{background: url("../images/bwicons_home.png") no-repeat scroll -276px -98px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 293px;}
    a.products:hover{background: url("../images/bwicons_home.png") no-repeat scroll -276px -150px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 293px;}
    a.clients:hover,a.clients_over{background: url("../images/bwicons_home.png") no-repeat scroll -276px -202px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 293px;}
    a.contact:hover{background: url("../images/bwicons_home.png") no-repeat scroll -276px -258px transparent;
    height: 45px;
    text-indent: -9999px;
    width: 293px;}
    
 	
	
/*RIGHT PART*/

#anagiling{
	background-image: url("../images/anagilang.png");
    color: #FFFFFF;
    float: right;
    height: 89px;
    line-height: 89px;
    position: relative;
    text-align: right;
    text-shadow: 1px 1px #000000;
    vertical-align: middle;
    width: 179px;


}
	#anagiling a.last{padding-right: 30px;}
#rightpart{width:25%;}
#rightpart_projects{width: 15%;float: right;}/*projects_page style*/
#tanagi {width: 25%;background-color: black;}
#social,#social_transparent{ 
    clear: both;
    display: block;
    float: right;
    height: 170px;
    margin: 58px 0 0;
    padding-right: 25px;
    text-decoration: none;}
#social_transparent {
    background-image: url("../images/back_social.png");
    left: 0;
    padding-left: 30px;
    position: relative;
}

	
	
	a.social_twitter{ background: url("../images/social_icon.png") repeat scroll 0 0 transparent;
    height: 32px;
    margin-top: 30px;
    text-indent: -9999px;
    width: 32px;}
	a.social_twitter:hover{ height: 32px;
    margin-top: 30px;
    text-indent: -9999px;
    width: 32px;
    background: url("../images/social_icon.png") repeat scroll 32px 0 transparent;}
	a.social_facebook{ background: url("../images/social_icon.png") repeat scroll 0 -34px transparent;
    height: 32px;
    margin-top: 2px;
    text-indent: -9999px;
    width: 32px;}
	a.social_facebook:hover{ height: 32px;
    margin-top: 2px;
    text-indent: -9999px;
    width: 32px;
    background: url("../images/social_icon.png") repeat scroll -40px -34px transparent;}
	
	a.social_digg{ background: url("../images/social_icon.png") repeat scroll 0 -68px transparent;
    height: 32px;
    margin-top: 2px;
    text-indent: -9999px;
    width: 32px;}
	

	a.social_digg:hover{ background: url("../images/social_icon.png") repeat scroll -40px -68px transparent;
    height: 32px;
    margin-top: 2px;
    text-indent: -9999px;
    width: 32px;}
#buy{ clear: both;
    float: right;
    margin-top: 56px;
    position: relative;
    text-align: right;}
	

/* MIDDLE CONTENT */

#middlecontent{width: 50%;}
#middlecontent_projects,#aux_middle_content{width: 75%;}/*-projects_page style-*/
#aux_top_content{ background: url("../images/team_bkg.png") repeat-x scroll 0 0 transparent;
    height: 420px;}
#aux_middle_content{padding-left:10%;}
#grad{ background-image: url("../images/grad.png");
    background-repeat: repeat-x;
    bottom: 0;
    height: 182px;
    position: absolute;
    width: 100%;}


#navigation_container{margin-left:auto;margin-right: auto;position: relative;bottom:62px;}
#left_corner_navigation,#middle_navigation,#right_corner_navigation{float:left;}
#left_corner_navigation{background: url("../images/table.png") no-repeat scroll 0 0 transparent;width: 169px;height: 137px;}
#middle_navigation{background: url("../images/table.png") no-repeat scroll 0 0 transparent;width: 70%;background-position: -167px 0px;height: 137px;}
#right_corner_navigation{background: url("../images/table_corner.png") no-repeat scroll right center transparent;width: 169px;height: 137px;}



#dock{
    display: table;
    height: 179px;
    position: relative;
    width: 100%;}

#table_container{
	
   bottom: 0;
    display: table;
    height: 179px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
    }
    
a.details {
    background: url("../images/arrows.png") no-repeat scroll -2px 0 transparent;
    color: transparent;
    height: 62px;
    padding: 10px 0;
    position: relative;
    text-indent: -9999px;
    top: 414px;
    width: 40px;
    z-index: 9999;
}
a.details:hover {
    background: url("../images/arrows.png") no-repeat scroll -64px 0 transparent;
}
a.up {
    background: url("../images/arrows.png") no-repeat scroll -122px 0 transparent;
    color: transparent;
    height: 62px;
    left: 10px;
    padding: 7px 9px 10px 0;
    position: relative;
    text-indent: -9999px;
    top: 65px;
    width: 41px;
    z-index: 9999;
}
a.up:hover {
    background: url("../images/arrows.png") no-repeat scroll -150px 0 transparent;
}
a.right_up {
    background: url("../images/arrows.png") no-repeat scroll -176px 0 transparent;
    color: transparent;
    float: right;
    height: 62px;
    left: 10px;
    padding: 7px 0 10px 0;
    position: relative;
    text-indent: -9999px;
    top: 65px;
    width: 41px;
    z-index: 9999;
}
a.right_up:hover {
    background: url("../images/arrows.png") no-repeat scroll -210px 0 transparent;
}

a.right_up_photo {
    background: url("../images/arrows.png") no-repeat scroll -176px 0 transparent;
    color: transparent;
    float: right;
    height: 62px;
    left: 300px;
    padding: 10px 0;
    position: relative;
    text-indent: -9999px;
    top: 430px;
    width: 41px;
    z-index: 9999;
}
a.right_up_photo:hover{
	background: url("../images/arrows.png") no-repeat scroll -210px 0 transparent;

}
a.cross-link {
    background: url("../images/next_image.png") no-repeat scroll 0 0 transparent;
    bottom: 60px;
    color: transparent;
    float: right;
    padding: 24px 104px 4px 0;
    position: relative;
    right: 20px;
}
/* dock2 - bottom */
#dock2 {
	 bottom: 49px;
    left: 0;
    position: absolute;
    width: 100%;
}
.dock-container2 {
	position: absolute;
	background: url(images/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	top:100px;
	position: relative;
}
.dock-item2 img {
	border: none; 
	
	width: 100%; 
}



/* FOOTER */

#footer{
   background: url("../images/bwover.png") no-repeat scroll center center #555554;
    bottom: 0;
    color: #FFFFFF;
    height: 65px;
    position: relative;
    width: 100%; 
   }
   
#footer img{ 	
    position: relative;
    top: 10px;
    vertical-align: sub;}
#logoanagi{  margin-left: 10px;}  
#tanagi_footer{width: 80%;} 	
#wmlogobw{ 
    float:right;
  	margin-right:10px;
}

#footer_relative{
	position: relative; 
	width:100%;
   	height:65px;   /* Height of the footer */
   	background:url(../images/bwover.png);
   	color: #fff;
}








/* OUR PROJECTS - specific CSS*/

.our_projects{ background-attachment: fixed;
    background-clip: border-box;
    background-color: #181818;
    background-image: url("../images/our_project_bkg.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF; }
#headlinks_projects,#middlecontent_projects,#headlinks_projects_transparent{float: left;}

#headlinks_projects,#headlinks_projects_transparent{
    height: 362px;
    padding-top: 50px;
    position: relative;}
#headlinks_projects{
   background: url("../images/panel.png") no-repeat scroll 0 0 transparent;
    z-index: 9999;
	

}
#anagiling img{vertical-align:middle;margin-right:25px;}


ul.list_projects{display: table;
    margin: 0 0 50px;
    padding: 0;}
li.realized,li.current{
    float: left;
    height: 180px;
    line-height: 180px;
    text-align: center;
    width: 180px;
    text-transform: uppercase;
    display: table;
    
    }

li.realized{background: url("../images/ball_realized.png") repeat scroll 0 0 transparent;
    font-family: "Ms Trebuchet MS";
    font-size: 1.2em;
    font-weight: bold;}
li.current{background:url(../images/ball_current.png);}

h1#project{text-indent: -9999px;background: url(../images/projects.png) 0 0 transparent no-repeat;}
h1#realized{text-indent: -9999px;background: url(../images/realized.png) 0 0 transparent no-repeat;}
a.realized_link{color: #fff;}
a.realized_link:hover{color:#000;}
a.current_link{color: #fff;}
a.current_link:hover{color:#EF113B;}
h1#current{text-indent: -9999px;background: url(../images/current.png) 0 0 transparent no-repeat;}



#rightpart_projects{position: relative;
    width: 15%;
    z-index: 9999;}
#middlecontent_projects{ position: relative;
    top: 10px;
    width: 75%;}


#footer_projects{
	background: url("../images/projects_footer.png") repeat-x scroll 0 0 transparent;
    clear: left;
    color: #FFFFFF;
    height: 55px;
    padding-top: 11px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    top:40px;
  
}
#logoanagi_footer{ 
     margin-left: 30px;	}

li.no_label{width:45px;overflow: hidden;}

/*END OF PROJECTS STYLE*/


/* COMPANY - specific CSS*/
.company_bg {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: #515151;
    background-image: url("../images/company_bkg.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #4A4A4A;
}
h2{color:#4a4a4a;font-weight: bold;font-family: "Trebuchet MS"}
#company{text-indent: -9999px;background: url(../images/company.png) 0 0 transparent no-repeat;}
#navlist{ display: table;
    margin: 30px -35px 50px -30px;
    position: relative;}
	#navlist li
	{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	}
	#navlist li a{display: inline;}

/* END OF COMPANY STYLE*/


/* ANAGI TEAM STYLE */
.anagi_bg{ background:url(../images/team_info_patern_bkg.png) repeat;color: #4a4a4a; font-family: "Trebuchet MS"}
}
#anagi_team{text-indent: -9999px;background: url(../images/anagi_team.png) 0 0 transparent no-repeat;margin-bottom: 20px;}
.anagi_bg p{ color: #494949;
    font-family: "Trebuchet MS";
    font-size: 12pt;
    margin: 0 0 20px;}
.anagi_bg h2{ color: #3C3C3C;
    font-size: 24pt;}
#links_team{  background: url("../images/links_team.png") no-repeat scroll 0 0 transparent;
    height: 114px;
    margin-bottom: 20px;
    padding: 26px 0 3px 3px;
    position: relative;
    right: 14px;
    width: 892px;}
.box_info{background: none repeat scroll 0 0 #F7F7F7;
    display: table;
    float: left;
    height: 472px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-top: 10px;
    width: 560px;}
.header_box_info {
    background: none repeat scroll 0 0 #5A5A5A;
    height: 54px;
    padding-top: 8px;
}
.bio_title {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #9B9B9B;
    border-color: -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    margin: -2px 0 0;
    padding-left: 25px;
    vertical-align: middle;
    width: 80%;
}
.extra_info{float: right;
    width: 40%; font-size: 10pt;color:#3C3C3C;}
    .extra_info span, .extra_info p{ color: #3C3C3C;
    font-size: 10pt;
    margin-bottom: 14px;}
    .extra_info span{margin-bottom: 0px;}
 span.high,p.high{
    bottom: 20px;
    color: #00C969;
    display: block;
    margin-top: 8px;
    position: relative;}
 p.high{ bottom: 0;
    margin-bottom: 0;
    margin-top: 0;}
 p.dark{color: #3c3c3c;}
 h5.name{font-size: 12pt;font-weight: bold;color: #00c969;}
 a.team_link{background: #00c969;border-width: medium;
border-style: solid;
border-color: #0000FF;}
    
a#director{ background: url("../images/team_links_over.png") repeat scroll 0 0 transparent;
    color: transparent;
    margin-left: 25px;
    margin-right: -5px;
    padding: 3px 3px 7px 0;
    text-indent: -9999px;
    width: 298px;
}
a#technical{  background: url("../images/team_links_over.png") repeat scroll -92px 0 transparent;
    color: transparent;
    padding: 3px;
    text-indent: -9999px;
    width: 298px;}
a#financial{    background: url("../images/team_links_over.png") repeat scroll -285px 0 transparent;
    color: transparent;
    padding: 3px;
    text-indent: -9999px;
    width: 298px;}
a#line{  background: url("../images/team_links_over.png") repeat scroll -472px 0 transparent;
    color: transparent;
    padding: 3px 6px;
    text-indent: -9999px;
    width: 300px;}
a#human{  background: url("../images/team_links_over.png") no-repeat scroll -612px 0 transparent;
    color: transparent;
    padding: 3px 3px 3px 97px;
    text-indent: -9999px;
    width: 298px;}
a#mechanization{  background: url("../images/team_links_over.png") repeat scroll 0 -33px transparent;
    color: transparent;
    margin-left: 25px;
    padding: 3px 6px;
    text-indent: -9999px;
    width: 298px;}
a#shops{ background: url("../images/team_links_over.png") no-repeat scroll -136px -33px transparent;
    bottom: 2px;
    color: transparent;
    font-size: 12px;
    line-height: 17px;
    padding: 3px 0 8px 3px;
    position: relative;
    text-indent: -9999px;
    width: 0;}
a#juridical{  background: url("../images/team_links_over.png") repeat scroll -1284px -33px transparent;
    color: transparent;
    padding: 3px;
    text-indent: -9999px;
    width: 298px;}
    
a#director_current,a#director:hover{background: url("../images/team_links.png") repeat scroll 0 0 transparent;
    color: transparent;
    margin-left: 25px;
    margin-right: -5px;
    padding: 3px 3px 7px 0;
    text-indent: -9999px;
    width: 298px;}
    
a#technical_current,a#technical:hover{  background: url("../images/team_links.png") repeat scroll -92px 0 transparent;
    color: transparent;
    padding: 3px;
    text-indent: -9999px;
    width: 298px;}
    
a#financial_current,a#financial:hover{    background: url("../images/team_links.png") repeat scroll -285px 0 transparent;
    color: transparent;
    padding: 3px;
    text-indent: -9999px;
    width: 298px;}
a#line_current,a#line:hover{  background: url("../images/team_links.png") repeat scroll -472px 0 transparent;
    color: transparent;
    padding: 3px 6px;
    text-indent: -9999px;
    width: 300px;}
a#human_current,a#human:hover{  background: url("../images/team_links.png") no-repeat scroll -612px 0 transparent;
    color: transparent;
    padding: 3px 3px 3px 97px;
    text-indent: -9999px;
    width: 298px;}
a#mechanization_current,a#mechanization:hover{  background: url("../images/team_links.png") repeat scroll 0 -33px transparent;
    color: transparent;
    margin-left: 25px;
    padding: 3px 6px;
    text-indent: -9999px;
    width: 298px;}

a#shops_current,a#shops:hover{ background: url("../images/team_links.png") no-repeat scroll -136px -33px transparent;
    bottom: 2px;
    color: transparent;
    font-size: 12px;
    line-height: 17px;
    padding: 3px 0 8px 3px;
    position: relative;
    text-indent: -9999px;
    width: 0;}
a#juridical_current,a#juridical:hover{  background: url("../images/team_links.png") repeat scroll -1284px -33px transparent;
    color: transparent;
    padding: 3px;
    text-indent: -9999px;
    width: 298px;}
    
    
.grade_info{ background: url("../images/grad_info.png") repeat scroll 0 0 transparent;
    height: 16px;
    margin: -5px 0 0;
    padding: 0;}
    

	

