/*----------*/
/* DWELLING */
/*----------*/
.dwelling {
    background: url(./images/background_dwelling_1280x800.jpg) no-repeat auto;
    color: #FFFFFF;
    min-height: 800px;
    overflow-x: hidden;
}

div.category_line {
    height: 135px;
    margin-top: 40px;
    padding-left: 68px;
    padding-top: 0;
    width: 75%;
}
div#category_name {
    background: none repeat scroll 0 0 blue;
    height: 120px;
    width: 181px;
}
div.building_information {
    background: none repeat scroll 0 0;
    text-align: left;
    width: 150px;
    border-left: 2px solid #fff;
    font-size: 7pt;
    padding-left: 30px;
    float: left;
}

div.gallery_category {
    float: right;
    padding-top: 15px;
    position: relative;
    width: 70%;
}
a.category_name{line-height: 100px;}
.gallery_category img{width:101px;margin-right: 10px; }

span.start_date,span.adress{font-size: 7pt;}
span.start_date {
    display: inline;
    float: left;
    text-align: left;
}
span.adress{float: right;position: relative;}
a.next_team_page {
    background: url("../images/sprite_team_info.png") repeat scroll -4961px 0 transparent;
    color: transparent;
    margin-left: 675px;
    margin-top: 43px;
    padding-bottom: 10px;
    padding-left: 39px;
    padding-top: 6px;
    position: relative;
}