html#team_info, html#technical_dep, html#financial_dep, html#line_engineers, html#human_resources, html#mechanization, html#juridical {
   
    overflow-x: hidden;
    width: 100%;
}
body{width: inherit;}
.container {
    background: url("../images/background_team1280x800.jpg") no-repeat scroll 0 0 transparent;
    margin-left: auto;
    margin-right: auto;
    max-height: 1562px;
    min-height: 1562px;
    position: relative;
    width: 1280px;
}
#middlecontent_projects {
    font-size: 7pt;
    margin-bottom: 12px;
    padding-left: 46px;
    position: relative;
    text-align: left;
    top: 30px;
    width: 75%;
}

html#shops{background: url(../images/background_shops1280x800.jpg) no-repeat 0 0 scroll;min-width: 1008px;}



h1#anagi_team {
    background: url("../images/sprite_team_info_1280x800_geo.png") no-repeat scroll -50px 0 transparent;
    bottom: 40px;
    position: relative;
    right: 6px;
    text-indent: -9999px;
    width: 250px;
}
h2 {
    font-family: "AcadNusx";
    margin-bottom: -31px;
    margin-top: -31px;
}
h5 {
    font-size: 8pt;
    margin-bottom: 13px;
}
#links_team {
    height: 114px;
    margin-bottom: 50px;
    padding: 20px 0 4px 15px;
    position: relative;
    right: 14px;
    width: 838px;
}

a#director_current, a#director:hover,a#technical,a#technical:hover,a#technical_current,a#financial_current,a#financial:hover,a#financial,a#line,a#human_current,a#human:hover,a#human,a#mechanization,a#mechanization_current,a#mechanization:hover,a#shops_current,a#shops:hover,a#shops,a#juridical,a#juridical_current,a#juridical:hover,a#director,a#line_current, a#line:hover {  background: url("../images/sprite_button_team_geo.png") repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -9999px;
    margin-right: 9px;}

span.team_member_txt, span.destaq {
    display: block;
    font-family: "AcadNusx";
    font-size: 9pt;
    margin-bottom: 5px;
    width: 490px;
}
span.destaq {
    font-family: "AcadNusx";
    font-weight: bold;
}
a#director {
    background-position: -547px 28px;
    padding: 0 3px 7px 0;
    text-indent: -9999px;
    width: 110px;
}

a#director_current, a#director:hover {
    background: url("../images/sprite_button_team_geo.png") repeat scroll 0 -65px transparent;
    color: transparent;
    margin-left: 0;
    padding: 0 43px 7px 0;
    text-indent: -9999px;
    width: 63px;
}
a#technical {
    background-position: -119px 0;
    height: 24px;
    width: 124px;
}
a#financial {
    background-position: -259px -117px;
    width: 167px;
}
a#line {
    background-position: -441px 0;
    width: 125px;
}
a#line_current, a#line:hover {
    background-position: -441px -182px;
    width: 125px;
}
a#technical_current, a#technical:hover {
    background-position: -119px -65px;
    width: 124px;
}

a#financial_current, a#financial:hover {
    background-position: -259px -182px;
    width: 167px;
}
a#human {
    background-position: -458px 88px;
    width: 200px;
}
a#human_current, a#human:hover {
    background-position: -1189px -211px;
    width: 175px;
}
a#mechanization {
    background-position: -730px -27px;
    left: -115px;
    position: relative;
    width: 104px;
}
a#mechanization_current, a#mechanization:hover {
    background-position: -730px -209px;
    left: -115px;
    position: relative;
    width: 104px;
}
a#shops {
    background-position: -834px -27px;
    left: -129px;
    position: relative;
    width: 341px;
}
a#shops_current, a#shops:hover {
    background-position: -834px 25px;
    left: -129px;
    position: relative;
    width: 341px;
}
a#juridical {
    background-position: -1189px -144px;
    left: -132px;
    position: relative;
    width: 169px;
}
a#juridical_current, a#juridical:hover {
    background-position: -1189px -209px;
    left: -132px;
    position: relative;
    width: 169px;
}


li.list_team {
    float: left;
    list-style: none outside none;
    width: auto;
}


p {
    font-size: 11pt;
    margin-top: -8px;
    position: relative;
}

/*box structure - team members--*/

.list_box h1 {
    color: #FFFFFF;
    font-family: "AcadNusx";
    font-size: 10pt;
    line-height: 49px;
    margin-left: 10px;
    position: relative;
    text-shadow: 0 0 0;
}
h2.title_member {
    color: #00C969;
    font-size: 11pt;
    margin-bottom: 0;
    margin-top: 12px;
    position: relative;
    text-indent: 0;
}
.list_box{font-size: 8pt;}
.team_box {
    background: url("../images/team_box_bkg1280x800.png") repeat scroll 0 0 transparent;
    height: 429px;
    margin-bottom: 42px;
    margin-right: 64px;
    text-align: left;
    width: 509px;
}
span.team_box{text-align: left;}
.team_box img {
    float: left;
    height: 363px;
    margin-right: 21px;
    width: 275px;
}
ul.list_box {
    padding-left: 118px;
    position: relative;
}
ul.list_box li{float: left;}

a.next_team_page {
    background: url("../images/sprite_team_info_1280x800.png") no-repeat scroll -320px 0 transparent;
    color: transparent;
    margin-top: 400px;
    padding: 6px 0 30px 45px;
    position: relative;
    top: 1165px;
}
a.dummy{
	color: transparent;
    margin-top: 400px;
    padding: 6px 0 30px 45px;
    position: relative;
    top: 1165px;

}
.space{
    color: transparent;
    margin-top: 400px;
    padding: 6px 0 30px 45px;
    position: relative;
    line-height: 40px; 
    text-indent: -999px; 


}
#footer_space{display: block;background: red;}
/*footer*/

#footer {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    margin-top: 1431px;
    position: absolute;
    width: 99%;
}
#footer_nonext {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    margin-top: 1472px;
    position: relative;
    width: 99%;
}
#footer_nonext img {
    margin-top: 4px;
}
#footer_nonext span {
    line-height: 40px;
    margin-top: 14px;
    position: relative;
}
#footer_1line {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    top: 530px;
    width: 100%;
}
.left_footer2 {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    float: left;
    font-size: 10px;
    position: relative;
    top: 2px;
    width: 233px;
}