html#team_info, html#technical_dep, html#financial_dep, html#line_engineers, html#human_resources, html#mechanization, html#juridical {
    overflow-x: hidden;
    width: 1024px;
}
body{width: inherit;}
.container{
	background: url("../images/background_team.jpg") no-repeat scroll 0 0 transparent;
	margin-left: auto;
    margin-right: auto;
    max-height: 1171px;
    min-height: 1171px;
    position: relative;
    width: 1024px;
    overflow-x: hidden;
}
html#shops{background: url(../images/background_shops.jpg) no-repeat 0 0 scroll;min-width: 1008px;}



h1#anagi_team {
    background: url("../images/sprite_team_info.png") no-repeat scroll 0 0 transparent;
    left: 3px;
    position: relative;
    text-indent: -9999px;
    width: 150px;
}
h2 {
    margin-bottom: -30px;
    text-indent: -9999px;
}
h2.sub_title {
    bottom: 29px;
    left: 8px;
    margin-bottom: 0;
    position: relative;
    text-indent: 0;
}
h5 {
    font-size: 8pt;
    margin-bottom: 13px;
}
#links_team {
    height: 114px;
    margin-bottom: 20px;
    padding: 22px 0 3px 3px;
    position: relative;
    right: 14px;
    width: 845px;
}
span.team_member_txt, span.destaq {
    display: block;
    margin-bottom: 5px;
    width: 366px;
}
span.team_member_date{
    color: #00C969;
    display: block;
    margin-bottom: 5px;
    width: 350px;
}
span.destaq{font-weight: bold;}
a#director_current, a#director:hover,a#technical,a#technical:hover,a#technical_current,a#financial_current,a#financial:hover,a#financial,a#line,a#human_current,a#human:hover,a#human,a#mechanization,a#mechanization_current,a#mechanization:hover,a#shops_current,a#shops:hover,a#shops,a#juridical,a#juridical_current,a#juridical:hover,a#director,a#line_current, a#line:hover {  background: url("../images/sprite_button_team.png") repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -9999px;
    margin-right: 9px;}


a#director {
    background-position: -1297px -87px;
    padding: 0 3px 7px 0;
    text-indent: -9999px;
    width: 109px;
}
a#director_current, a#director:hover {
    background: url("../images/sprite_button_team.png") repeat scroll -1297px -31px transparent;
    color: transparent;
    height: 20px;
    margin-left: 0;
    padding: 0 3px 7px 0;
    text-indent: -9999px;
    width: 110px;
}
a#technical {
    background-position: -92px -57px;
    width: 140px;
}
a#financial {
    background-position: -257px -57px;
    width: 150px;
}
a#line {
    background-position: -421px -57px;
    width: 107px;
}
a#line_current, a#line:hover {
    background-position: -421px -115px;
    width: 107px;
}
a#technical_current,a#technical:hover{  
	background-position: -92px 0;
	width: 140px;
    
}

a#financial_current, a#financial:hover {
    background-position: -257px -115px;
    width: 150px;
}
a#human {
    background-position: -545px 58px;
    width: 193px;
}
a#human_current, a#human:hover {
    background-position: -545px -115px;
    width: 193px;
}
a#mechanization {
    background-position: -758px -87px;
    left: -115px;
    position: relative;
    width: 104px;
}
a#mechanization_current, a#mechanization:hover {
    background-position: -758px -145px;
    width: 104px;
    left:-78px;
    position: relative;
}
a#shops {
    background-position: -876px -87px;
    left: -118px;
    position: relative;
    width: 269px;
}
a#shops_current, a#shops:hover {
    background-position: -876px -145px;
     left: -79px;
    position: relative;
    width: 274px;
}

a#juridical {
    background-position: -1148px -87px;
    left: -130px;
    position: relative;
    width: 148px;
}
a#juridical_current, a#juridical:hover {
    background-position: -1148px -145px;
    left: -94px;
    position: relative;
    width: 298px;
}



li.list_team {
    float: left;
    list-style: none outside none;
    width: auto;
}

#middlecontent_projects {
    font-size: 7pt;
    margin-bottom: 12px;
    position: relative;
    text-align: left;
    top: 10px;
    width: 75%;
}
#middlecontent_projects p {
    font-size: 8pt;
    margin-left: 7px;
    margin-top: -8px;
    position: relative;
}
/*box structure - team members--*/
.list_box h1 {
    color: #FFFFFF;
    font-size: 9pt;
    line-height: 36px;
    margin-left: 10px;
    position: relative;
    text-shadow: 0 0 0;
}
h2.title_member {
    color: #00C969;
    font-size: 9pt;
    margin-bottom: 0;
    margin-top: 12px;
    position: relative;
    text-indent: 0;
}
.list_box{font-size: 8pt;}
.team_box {
    background: url("../images/team_box_bkg.png") repeat scroll 0 0 transparent;
    height: 322px;
    margin-bottom: 42px;
    margin-right: 78px;
    text-align: left;
    width: 382px;
}
span.team_box{text-align: left;}
.team_box img {
    float: left;
    margin-right: 21px;
    width: 207px;
}
ul.list_box {
   	padding-left: 88px;
    position: relative;
}
ul.list_box li{float: left;}

a.next_team_page {
    background: url("../images/sprite_team_info.png") repeat scroll -4961px 0 transparent;
    color: transparent;
    margin-top: 400px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 6px;
    position: relative;
    top: 838px;
}
#footer {
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    top: 5px;
    width: 100%;
}
#footer_1line {
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    top: 369px;
    width: 100%;
}

