html#technical_info {
    width:100%;
}
body {
    overflow-x: hidden;
    
}
div.container {
    background: url("../images/background_techinfo1280x800.jpg") repeat scroll 0 0 #181818;
    margin-left: auto;
    margin-right: auto;
    max-height: 1614px;
    min-height: 1614px;
    position: relative;
    width: 1280px;
}

h1#anagi_team{text-indent: -9999px;}
h1{text-indent: -9999px;}
h2 {
    margin-bottom: -30px;
    text-indent: -9999px;
}
h5 {
    font-size: 8pt;
    margin-bottom: 13px;
}
#links_team {
    height: 114px;
    margin-bottom: 20px;
    padding: 22px 0 3px 3px;
    position: relative;
    right: 14px;
    width: 838px;
}
#middlecontent_projects ul{
    font-size: 10pt;
   
}
a#director_current, a#director:hover,a#technical,a#technical:hover,a#financial_current,a#financial:hover,a#financial,a#line,a#human_current,a#human:hover,a#human,a#mechanization,a#mechanization_current,a#mechanization:hover,a#shops_current,a#shops:hover,a#shops,a#juridical,a#juridical_current,a#juridical:hover,a#director{  background: url("../images/sprite_button_team.png") repeat scroll 0 0 transparent;
    height: 24px;
    text-indent: -9999px;
    margin-right: 9px;}


a#director_current, a#director:hover {
    background: url("../images/sprite_button_team.png") repeat scroll 0 0 transparent;
    color: transparent;
    height: 20px;
    margin-left: 0;
    padding: 0 3px 7px 0;
    text-indent: -9999px;
    width: 73px;
}

a#technical {
    background-position: -92px -57px;
    width: 140px;
}
a#financial {
    background-position: -257px -57px;
    width: 150px;
}
a#line {
    background-position: -421px -57px;
    width: 107px;
}
a#line_current, a#line:hover {
    background-position: -421px -115px;
}
a#technical_current,a#technical:hover{  
	background-position: -92px 0;
    
}

a#financial_current, a#financial:hover {
    background-position: -257px -115px;
}
a#human {
    background-position: -545px 58px;
    width: 193px;
}
a#human_current, a#human:hover {
    background-position: -545px -115px;
}
a#mechanization {
    background-position: -758px -87px;
    left: -78px;
    position: relative;
    width: 104px;
}
a#mechanization_current, a#mechanization:hover {
    background-position: -758px -145px;
}
a#shops {
    background-position: -876px -87px;
    left: -79px;
    position: relative;
    width: 274px;
}
a#shops_current, a#shops:hover {
    background-position: -876px -145px;
}

a#juridical {
    background-position: -1148px -87px;
    left: -94px;
    position: relative;
    width: 298px;
}
a#juridical_current, a#juridical:hover {
    background-position: -1148px -145px;
}



li.list_team {
    float: left;
    list-style: none outside none;
    width: auto;
}


#middlecontent_projects p {
    font-size: 11pt;
    margin-top: -8px;
    position: relative;
}
#box_container p{font-size: 7pt;}
#boxes_container{height: 1100px;}
.box_info ,.box_info_right{
    background: none repeat scroll 0 0 #F7F7F7;
    display: table;
    float: left;
    height: 324px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-top: 10px;
    width: 383px;
}
#footer {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    clear: left;
    color: #FFFFFF;
    height: 42px;
    position: relative;
    top: 1068px;
    width: 1280px;
}
.slider {
    background: url("../images/wishmodus_logo1280.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    float: left;
    height: 35px;
    left: 110px;
    list-style-type: none;
    padding-right: 142px;
    position: relative;
    width: 227px;
}
.block {
    color: transparent;
    float: right;
    margin-right: 160px;
    overflow: hidden;
    position: relative;
    top: 2px;
    width: 140px;
}